@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 40px;
  border: 3px solid black;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
}

.component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.component h2 {
  margin: 10px;
  margin-right: 30px;
}

.component input {
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
  border-radius: 3px;
  font-size: 1em;
  padding: 6px 12px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}