@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #3B3B98;
}

.container {
  padding: 40px;
  border-radius: 3px;
  background-color: #23235B;
  color: #fafafa;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}

.component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.component h2 {
  margin: 10px;
  margin-right: 30px;
}

.component input {
  border: none;
  outline: none;
  height: 40px;
  width: 300px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fafafa;
  font-size: 1.2em;
  padding: 6px 12px;
  font-weight: 600;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}

@media screen and (min)